/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--font-family) 'Arial',  sans-serif;
  font-variation-settings: 'wght' var(--wght);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}  

/*шапка*/
.header {
  width: clamp(375px, 49vw, 700px);
  height: clamp(326px, 42.5vh, 368px);
  margin: 102px auto 0;
  background-color: var(--background-color);
  border: var(--border);
}

.header__title {
  color: var(--color);
  font-family: var(--accent-font-family);
  font-size: clamp(49px, 4.51vw, 65px);
  font-style: normal;
  font-weight: var(--wgth);
  line-height: normal;
  text-transform: uppercase;
}   

.header__text {
  color: var(--color);
  font-family: var(--accent-font-family);
  font-size: clamp(14px, 1.6vw, 23px);
  font-style: normal;
  font-weight: var(--wgth);
  line-height: normal;
  text-transform: uppercase;
}

.header__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: clamp(120px, 10vw, 136px);
  gap: 20px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  margin-block-start: 24px;
  margin-inline-start: clamp(150px, 21.5vw, 315px);
}

.theme-menu__button {
  color: var(--color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--wgth);
  line-height: normal;
  text-transform: uppercase;
  border: none;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.theme-menu__button:disabled:before {
  content: '▶';
  position: absolute;
  margin-inline-start: -20px;
  animation: arrow 0.5s ease-in-out alternate infinite;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 8px;
}

.theme-menu__button:hover,
.theme-menu__button:active,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-block-start: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
} 

/*секция карточек*/
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: clamp(371px, 48.06vw, 692px);
  margin: 100px auto 0;
}

.images {
  position: relative;
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--color);
}

.card__list-item {
  object-fit: cover;
  object-position: center;
  width: clamp(371px, 48.33vw, 696px);
  height: clamp(374px, 48.33vw, 696px);
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.card-title {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--wgth-title);
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-inline-start: 7px;
}

.card-text {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--wgth);
  line-height: 21px;
  margin-block-end: 26px;
}

.card__article {
  display: flex;
  flex-direction: column;
  margin: 20px 25px 0 25px;
}

.card__label {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--wgth);
  line-height: normal;
  text-transform: uppercase;
  top: 25px;
  right: clamp(11px, 1.74vw, 25px);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--background-color), 
    0 1px var(--background-color), 
    1px 0 var(--background-color), 
    0 -1px var(--background-color);
  z-index: 1;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  card__label {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
} 

/*фильтры*/
.card-start {
  -webkit-filter: saturate(120%);
  filter: saturate(120%);
} 

.card-diving {
  -webkit-filter: sepia(10%);
  filter: sepia(10%);
} 

.card-lighting {
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}

.card-beauty {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.card-neom {
  -webkit-filter: contrast(130%);
  filter: contrast(130%);
}

.card-stars {
  -webkit-filter: hue-rotate(50deg);
  filter: hue-rotate(50deg);
}

.card-unsplash {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.card-janosch {
  -webkit-filter: ;
  filter: grayscale(50%) contrast(110%) saturate(150%);;
}

/*кнопка*/
.button {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: none;
}

.card__like-button {
  border: none;
  background:transparent;
  min-width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s; 
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--wgth);
  line-height: 90%;
  z-index: 2;
  mix-blend-mode: difference;
  color:var(--mix-button-color);
}

.card__like-button:hover {
 color: var(--button-text-color);
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 23px;
}

/*сердечко*/
.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  outline-offset: -4px;
  background: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.like-icon  {
  padding-block-start: 3px;
}

.like-icon .heart {
  transition: fill 0.1s;
}

.like-icon .main-body {
 transition: fill 0.3s 0.05s linear;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:active .core {
  fill: var(--sparks-color);
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
}

.button__save {
  width: clamp(306px, 23.47vw, 338px);
  height: 55px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 2px solid var(--accent-color);
  background: var(--background-color);
  padding: 15px 20px;
  text-wrap: nowrap;
}

@media (width < 1440px) {
  .button__save {
    height: 80px;
    flex-direction: column;
  }
}

.svg-disk {
  mix-blend-mode: difference;
  z-index: 1;
}

.svg-disk:hover {
    fill: var(--background-color);
}

/*dialog*/
.modal-text {
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--wgth);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15.5px 16.5px 14px 15.5px;
}

.svg-disk-dialog {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.button-modal {
  display: flex;
  width: 293px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--accent-color);
  margin: 15.5px 16.5px 14px 15.5px;
}

.dialog-window {
  border: 2px solid var(--accent-color);
  background: var(--background-color);
}

.dialog-window:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog-window {
  position: fixed;
  inset: 0;
  right: -2.5px;
  top: -1.5px;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}